networks:
  proxy:
    external: true

name: piped

services:
  frontend:
    container_name: piped-frontend
    image: 1337kavin/piped-frontend:latest
    restart: unless-stopped
    depends_on:
      - backend
    environment:
      - BACKEND_HOSTNAME=pipedapi.${DOMAIN}
    networks:
      - proxy
      - default
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 512M
    security_opt:
      - no-new-privileges:true
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.piped.rule=Host(`piped.${DOMAIN}`)"
      - "traefik.http.routers.piped.entrypoints=websecure"
      - "traefik.http.routers.piped.tls=true"
      - "traefik.http.routers.piped.tls.certresolver=myresolver"
      - "traefik.http.services.piped.loadbalancer.server.port=80"

  backend:
    container_name: piped-backend
    image: 1337kavin/piped:latest
    restart: unless-stopped
    environment:
      - DOMAIN=${DOMAIN}
    volumes:
      - ./config.properties:/app/config.properties:ro
    depends_on:
      - db
      - bg-helper
    networks:
      - proxy
      - default
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2048M
    security_opt:
      - no-new-privileges:true
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.piped-api.rule=Host(`pipedapi.${DOMAIN}`)"
      - "traefik.http.routers.piped-api.entrypoints=websecure"
      - "traefik.http.routers.piped-api.tls=true"
      - "traefik.http.routers.piped-api.tls.certresolver=myresolver"
      - "traefik.http.services.piped-api.loadbalancer.server.port=8080"

  proxy:
    container_name: piped-proxy
    image: 1337kavin/piped-proxy:latest
    restart: unless-stopped
    networks:
      - proxy
      - default
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1024M
    security_opt:
      - no-new-privileges:true
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.piped-proxy.rule=Host(`pipedproxy.${DOMAIN}`)"
      - "traefik.http.routers.piped-proxy.entrypoints=websecure"
      - "traefik.http.routers.piped-proxy.tls=true"
      - "traefik.http.routers.piped-proxy.tls.certresolver=myresolver"
      - "traefik.http.services.piped-proxy.loadbalancer.server.port=8080"

  bg-helper:
    container_name: piped-bg-helper
    image: 1337kavin/bg-helper-server:latest
    restart: unless-stopped
    networks:
      - default
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
    security_opt:
      - no-new-privileges:true

  db:
    container_name: piped-db
    image: pgautoupgrade/pgautoupgrade:16-alpine
    restart: unless-stopped
    volumes:
      - ${VOLUMES_PATH}/piped/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${PIPED_DB_NAME}
      - POSTGRES_USER=${PIPED_DB_USER}
      - POSTGRES_PASSWORD=${PIPED_DB_PASSWORD}
    networks:
      - default
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2048M
    security_opt:
      - no-new-privileges:true
