---
# Reusable task: Install Docker Python library
# Include this in playbooks that need to interact with Docker via Python

- name: Install Python pip
  ansible.builtin.package:
    name: python3-pip
    state: present

- name: Install Python docker library (RedHat/Fedora)
  ansible.builtin.pip:
    name: docker
    state: present
  when: ansible_os_family == "RedHat"

- name: Install Python docker library (Debian/Ubuntu)
  ansible.builtin.apt:
    name: python3-docker
    state: present
  when: ansible_os_family == "Debian"
