networks:
  proxy:
    external: true

#
# WARNING: Make sure to use the docker-compose.yml of the current release:
#
# https://github.com/immich-app/immich/releases/latest/download/docker-compose.yml
#
# The compose file on main may not be compatible with the latest release.
#

name: immich

services:
  server:
    container_name: immich-server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    extends:
      file: hwaccel.transcoding.yml
      service: quicksync # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding
    volumes:
      - ${PATH_PHOTOS}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    networks:
      - proxy
      - default
    environment:
      - IMMICH_VERSION=${IMMICH_VERSION:-release}
      - DB_PASSWORD=${IMMICH_DB_PASSWORD}
      - DB_HOSTNAME=db
      - DB_USERNAME=postgres
      - DB_DATABASE_NAME=immich
      - REDIS_HOSTNAME=kv
    depends_on:
      - db
      - kv
    restart: always
    healthcheck:
      disable: false
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 8192M
    security_opt:
      - no-new-privileges:true
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.immich.rule=Host(`photos.${DOMAIN}`)"
      - "traefik.http.routers.immich.entrypoints=websecure"
      - "traefik.http.routers.immich.tls=true"
      - "traefik.http.routers.immich.tls.certresolver=myresolver"
      - "traefik.http.services.immich.loadbalancer.server.port=2283"

  machine-learning:
    container_name: immich-machine-learning
    # For hardware acceleration, add one of -[armnn, cuda, rocm, openvino, rknn] to the image tag.
    # Example tag: ${IMMICH_VERSION:-release}-cuda
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    #extends: # uncomment this section for hardware acceleration - see https://immich.app/docs/features/ml-hardware-acceleration
    #  file: hwaccel.ml.yml
    #  service: openvino # set to one of [armnn, cuda, openvino, openvino-wsl] for accelerated inference - use the `-wsl` version for WSL2 where applicable
    volumes:
      - ../.volumes/immich/model-cache:/cache
    environment:
      - IMMICH_VERSION=${IMMICH_VERSION:-release}
      - DB_PASSWORD=${IMMICH_DB_PASSWORD}
      - DB_HOSTNAME=db
      - DB_USERNAME=postgres
      - DB_DATABASE_NAME=immich
      - REDIS_HOSTNAME=kv
    restart: always
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4096M
    security_opt:
      - no-new-privileges:true
    healthcheck:
      disable: false


  kv:
    container_name: immich-kv
    image: docker.io/valkey/valkey:8-bookworm@sha256:ff21bc0f8194dc9c105b769aeabf9585fea6a8ed649c0781caeac5cb3c247884
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2048M
    security_opt:
      - no-new-privileges:true

  db:
    container_name: immich-db
    image: ghcr.io/immich-app/postgres:14-vectorchord0.3.0-pgvectors0.2.0
    environment:
      POSTGRES_PASSWORD: ${IMMICH_DB_PASSWORD}
      POSTGRES_USER: postgres
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ../.volumes/immich/postgres:/var/lib/postgresql/data
    restart: always
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 8192M
    security_opt:
      - no-new-privileges:true

# --------- Immich Kiosk - a tool for displaying photos in a kiosk mode on a TV/tablet ---------

  kiosk:
    container_name: immich-kiosk
    image: ghcr.io/damongolding/immich-kiosk:latest
    environment:
      - KIOSK_IMMICH_URL=http://server:2283
      - KIOSK_IMMICH_EXTERNAL_URL=https://photos.${DOMAIN}
      - KIOSK_BEHIND_PROXY=true
      - TZ=${TIMEZONE:-Asia/Singapore}
      - KIOSK_IMMICH_API_KEY=${IMMICH_KIOSK_API_KEY}
      - KIOSK_PASSWORD=${IMMICH_KIOSK_PASSWORD}
      - KIOSK_SHOW_TIME=true
      - KIOSK_TIME_FORMAT=24
      - KIOSK_SHOW_DATE=true
      - KIOSK_DATE_FORMAT=YYYY.MM.DD
      - KIOSK_DURATION=60
      - KIOSK_DISABLE_SCREENSAVER=true
      - KIOSK_SHOW_ARCHIVED=false
      - KIOSK_SHOW_ALBUM_NAME=true
      - KIOSK_SHOW_IMAGE_TIME=true
      - KIOSK_IMAGE_TIME_FORMAT=24
      - KIOSK_SHOW_IMAGE_DATE=true
      - KIOSK_IMAGE_DATE_FORMAT=YYYY.MM.DD
      - KIOSK_SHOW_IMAGE_DESCRIPTION=true
      - KIOSK_SHOW_IMAGE_LOCATION=true
      - KIOSK_LIKE_BUTTON_ACTION=favorite
      - KIOSK_HIDE_BUTTON_ACTION=tag
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1024M
    networks:
      - proxy
      - default
    depends_on:
      - server
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - 3000:3000
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.immich-kiosk.rule=Host(`kiosk.${DOMAIN}`)"
      - "traefik.http.routers.immich-kiosk.entrypoints=websecure"
      - "traefik.http.routers.immich-kiosk.tls=true"
      - "traefik.http.routers.immich-kiosk.tls.certresolver=myresolver"
      - "traefik.http.services.immich-kiosk.loadbalancer.server.port=3000"
      