# After Immich Server is started, you can generate a new key for ImmichKiosk
KIOSK_IMMICH_API_KEY=

# Set a password for the kiosk mode, if wanna privacy
KIOSK_PASSWORD= 

# Clock settings
KIOSK_SHOW_TIME=true
KIOSK_TIME_FORMAT=24
KIOSK_SHOW_DATE=true
KIOSK_DATE_FORMAT=YYYY.MM.DD

# Kiosk behavior
KIOSK_DURATION=60
KIOSK_DISABLE_SCREENSAVER=true

# Asset sources - prevent archived photos from being shown
KIOSK_SHOW_ARCHIVED=false

# Image metadata
KIOSK_SHOW_ALBUM_NAME=true
KIOSK_SHOW_IMAGE_TIME=true
KIOSK_IMAGE_TIME_FORMAT=24
KIOSK_SHOW_IMAGE_DATE=true
KIOSK_IMAGE_DATE_FORMAT=YYYY.MM.DD
KIOSK_SHOW_IMAGE_DESCRIPTION=true
KIOSK_SHOW_IMAGE_LOCATION=true

# Action buttons
KIOSK_LIKE_BUTTON_ACTION=favorite
KIOSK_HIDE_BUTTON_ACTION=tag
